@model IEnumerable<Coders.Message>
@using Coders.ModelViews;



@{

    var friends = (List<OnlineFriendsView>)TempData["friends"];
    //  var friendObj = (User)TempData["Friend"];
    var me = (User)TempData["Me"];
    //string friendId = friendObj.Username;
    //string id = friendId+'m';
    var ServerAddress = @Request.Url.Scheme + "://" + @Request.Url.Authority + @Request.ApplicationPath.TrimEnd('/');
    //int SeenId = (int)TempData["SeenId"];
}





<link rel="stylesheet" type="text/css" href="~/Content/lay.css">

<style>
    .dropzone {
    }


        .dropzone.dragover {
            color: #000 !important;
            background-color: #555 !important;
        }
</style>

<style>
    body {
        margin: 0;
        font-family: 'Lato', sans-serif;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 5px;
        font-size: 40px;
    }
</style>

<body id="body" style="background-image: url(@ServerAddress/Images/cover.jpg);background-position: center;background-attachment: fixed;background-size: cover;background-size:100% 100%;background-repear:no-repeat">

    <link rel="stylesheet" type="text/css" href="~/Content/MojChatCss/Chat.css" />


    <div class="row" width="100%" height="100%" style="margin-top:2%">
        <div id="onlineGroup" class="overlay" height="100%" onclick="closeNav()" style="float:left;margin-top:1%; margin-right: 0;overflow:hidden">
            <div style="overflow-y: scroll; overflow-x: scroll; width:95%;height: 112vh; opacity: 0.8; border-width: 2px; border-color: black; border-style: solid;">
                <h1 style="text-align: center; font-size: 180%; font-family:'MedievalSharp'; color: black; margin-top: 0px; margin-bottom: 30px; font-weight: bold; border-bottom-width: 3px;color:white; border-bottom-color: black; border-bottom-style: solid;"> Friends </h1>
                <div class="chat">
                    <table class="table table-responsive" style="font-family:'MedievalSharp'; color:black; font-size: 135%; font-weight: bold;" cellpadding="7px">
                        <tbody>
                            @if (friends != null)
                            {
                                foreach (var friend in friends)
                                {
                                    <tr id='@friend.Guid' style="background-image: url(@ServerAddress/Images/scroll.png); background-size: 100% 100%;
	                                                                   background-repeat: no-repeat; background-origin: content-box;">

                                        <td><p><img src="@Url.Content("~/Images/"+@friend.Picture)" class="slicka" width="50" height="50" /> &nbsp;<span style="color:white">@Html.ActionLink(@friend.Name, "Index", "Home")</span></p></td>
                                        <td width="20px"><div style="float:left;margin-top:80%" class="@(friend.isOnline?"circle":"circleOff")"> </div></td>
                                    </tr>
                                    <tr style="height:10px"></tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-xs-12" id="seen" width="100%" style="text-align:center;float:left;margin-top: 0.2%;margin:auto">
            <span style="font-size:20px;color:white;cursor:pointer;float:left;" onclick="openNav()">&#9776; </span>
            <h1 style="text-align: center; font-size: 180%; font-family:'MedievalSharp'; color: black;position:center; margin-top: 1px; margin-bottom: 2px; font-weight:bold;color:white ;"> Poruke </h1>
            <div class="dropzone" id="dropzone" style="background-image: url(@ServerAddress/Images/scroll.png); background-size: 100% 100%;background-repeat: no-repeat; background-origin: content-box;width: 100%;height:300px;margin:auto;padding-top:8px">
                <div style="overflow-y:scroll;overflow-x:hidden;width:100%;height:97%; opacity: 0.8;padding-top:3%;padding-bottom:3%;margin-top:6px" class="chatProba">
                    <div id="group" style="width:100%;">
                        @{ var i = 0;
                            var trenutna = Model.FirstOrDefault();
                            if (@trenutna != null && @trenutna.User.Guid.ToString() != Session["user"].ToString())
                            {
                                <div class='@trenutna.User.Guid.ToString()' style="margin-left:5%;margin-top:0.5%;margin-bottom:0.5%;float:left;width:55%">

                                    <span style="float:left;width:100%;word-wrap: break-word;color:gray;font-size:24px"><span style="float:left;height:1px;width:38px;margin-right:3%"></span><span>@trenutna.User.Named </span></span>
                                </div>
                            }
                        }
                        @foreach (var mesage in Model)
                        {
                            if (i == 0)
                            {
                                i++;
                                continue;
                            }
                            if (@trenutna.User.Guid.ToString() == Session["user"].ToString())
                            {

                                <div class='@trenutna.User.Guid.ToString()' style="margin-right:5%;margin-top:0.5%;margin-bottom:0.5%;float:right;width:55%">
                                    @if (@mesage.User.Guid.ToString() != @trenutna.User.Guid.ToString())
                                    {<img src="@Url.Content("~/Images/"+ @trenutna.User.Picture)" class="slicka" style="float:right;margin-left:3%" width="38" height="38" />
                                    }
                                    else
                                    {
                                        <span style="float:right;margin-left:3%;width:38px;height:1px"></span>
                                    }
                                    <div style="width:70%;float:right">
                                        <div class="round-corner send tooltipR" style=" float:right;word-wrap:break-word;background-color:blue;color:white;max-width:70%;text-align:right;font-size:20px">@trenutna.Message1 <span class="tooltiptextR">@trenutna.Date.ToString()</span></div>

                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class='@trenutna.User.Guid.ToString()' style="margin-left:5%;margin-top:0.5%;margin-bottom:0.5%;float:left;width:55%">
                                    @if (@mesage.User.Guid.ToString() != @trenutna.User.Guid.ToString())
                                    {<img src="@Url.Content("~/Images/"+ @trenutna.User.Picture)" class="slicka" style="float:left;margin-right:3%" width="38" height="38" />
                                    }
                                    else
                                    {
                                        <span style="float:left;margin-right:3%;width:38px;height:1px"></span>
                                    }
                                    <span class="round-corner tooltipR" style="float:left;max-width:70%;word-wrap: break-word;background-color:dimgrey;color:white;font-size:20px">@trenutna.Message1 <span class="tooltiptextR">@trenutna.Date.ToString()</span></span>
                                </div>
                            }
                            <div style="width:100%;float:left"></div>
                            if (@trenutna != null && @trenutna.User.Guid.ToString() != @mesage.User.Guid.ToString() && @mesage.User.Guid.ToString() != Session["user"].ToString())
                            {
                                <div class='@trenutna.User.Guid.ToString()' style="margin-left:5%;margin-top:0.5%;margin-bottom:0.5%;float:left;width:55%;text-align:left">

                                    <span style="float:left;width:100%;word-wrap: break-word;color:gray;font-size:24px"><span style="float:left;height:1px;width:38px;margin-right:3%"></span><span>@mesage.User.Named </span></span>
                                </div>
                            }
                            trenutna = mesage;
                        }
                        @if (trenutna != null)
                        {
                            if (@trenutna.User.Guid.ToString() == Session["user"].ToString())
                            {
                                <div class='@trenutna.User.Guid.ToString()' style="margin-right:5%;margin-top:0.5%;margin-bottom:0.5%;float:right;width:55%">
                                    <img src="@Url.Content("~/Images/"+@trenutna.User.Picture)" class="slicka" style="float:right;margin-left:3%" width="38" height="38" />
                                    <div style="width:70%;float:right">
                                        <div class="round-corner send tooltipR" style="float:right;word-wrap:break-word;background-color:blue;color:white;max-width:100%;text-align:right;font-size:20px">@trenutna.Message1 <span class="tooltiptextR">@trenutna.Date.ToString()</span></div>

                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class='@trenutna.User.Guid.ToString()' style="margin-left:5%;margin-top:0.5%;margin-bottom:0.5%;float:left;width:55%">

                                    <img src="@Url.Content("~/Images/" + @trenutna.User.Picture)" class="slicka" style="float:left;margin-right:3%" width="38" height="38" />

                                    <span class="round-corner tooltipR" style="float:left;max-width:70%;word-wrap: break-word;background-color:dimgrey;color:white;font-size:20px"> @trenutna.Message1<span class="tooltiptextR">@trenutna.Date.ToString()</span></span>
                                </div>
                            }

                            <div style="width:100%;float:left"></div>
                        }


                    </div>


                </div>
            </div>

            <textarea id="posalji" onfocus="onFocus()" onblur="onBlur()" class="fromChat" style="margin-bottom:2%;width:80%;height:70px;margin-top:1.5%;border-radius:9px" placeholder="Posalji poruku "></textarea>
            <ul id="datoteke" style="width:30%;max-height:60px;margin-top:3%;border-radius:9px;background-color:white;align-content:center;text-align:center;overflow-y:scroll;margin:auto"></ul>
        </div>

    </div>
</body>

<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="~/Scripts/MojaChatScripta/javascript.js"></script>


<script>

    var Me =@Html.Raw(Json.Encode(me) );
    var test =@Html.Raw(Json.Encode(friends) );
    console.log(test);
    var Identity = '@Session["user"].ToString()';
    var ServerAddress = "@Request.Url.Scheme" + "://" + "@Request.Url.Authority" + "@Request.ApplicationPath.TrimEnd('/')" + "/";
    var typpingCount = 0;
</script>


<script>
    $(document).ready(function () {

        (function () {
            var dropzone = document.getElementById('dropzone');

            var upload = function (files) {
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                    $("#datoteke").append("<li style='text-align:left' ref=" + files[i] + " >" + files[i].name + "</li>");
                    var s = $("#datoteke").children().first();
                    var he = s.attr("ref");
                    console.log(he);
                }

            }
            dropzone.ondrop = function (e) {
                e.preventDefault();
                this.className = 'dropzone';
                upload(e.dataTransfer.files)
            };
            dropzone.ondragover = function () {
                this.className = 'dropzone dragover';
                return false;
            };

            dropzone.ondragleave = function () {
                this.className = 'dropzone';
                return false;
            };
        })();
    });
</script>

<script>
    function openNav() {
        document.getElementById("onlineGroup").style.width = "50%";
    }

    function closeNav() {
        document.getElementById("onlineGroup").style.width = "0%";
    }
</script>
<script>
    function swipedetect(el, callback) {

        var touchsurface = el,
            swipedir,
            startX,
            startY,
            distX,
            distY,
            threshold = 50, //required min distance traveled to be considered swipe
            restraint = 100, // maximum distance allowed at the same time in perpendicular direction
            allowedTime = 300, // maximum time allowed to travel that distance
            elapsedTime,
            startTime,
            handleswipe = callback || function (swipedir) { }

        touchsurface.addEventListener('touchstart', function (e) {
            var touchobj = e.changedTouches[0]
            swipedir = 'none'
            dist = 0
            startX = touchobj.pageX
            startY = touchobj.pageY
            startTime = new Date().getTime() // record time when finger first makes contact with surface
            e.preventDefault()
        }, false)

        touchsurface.addEventListener('touchmove', function (e) {
            e.preventDefault() // prevent scrolling when inside DIV
        }, false)

        touchsurface.addEventListener('touchend', function (e) {
            var touchobj = e.changedTouches[0]
            distX = touchobj.pageX - startX // get horizontal dist traveled by finger while in contact with surface
            distY = touchobj.pageY - startY // get vertical dist traveled by finger while in contact with surface
            elapsedTime = new Date().getTime() - startTime // get time elapsed
            if (elapsedTime <= allowedTime) { // first condition for awipe met
                if (Math.abs(distX) >= threshold && Math.abs(distY) <= restraint) { // 2nd condition for horizontal swipe met
                    swipedir = (distX < 0) ? 'left' : 'right' // if dist traveled is negative, it indicates left swipe
                }
                else if (Math.abs(distY) >= threshold && Math.abs(distX) <= restraint) { // 2nd condition for vertical swipe met
                    swipedir = (distY < 0) ? 'up' : 'down' // if dist traveled is negative, it indicates up swipe
                }
            }
            handleswipe(swipedir)
        }, false)
    }

    var el = document.getElementById('body')
    swipedetect(el, function (swipedir) {
        if (swipedir == 'left')
            window.location.href = ServerAddress + "Home/Index";
    })


</script>
<script src="~/Scripts/MojaChatScripta/ChatSignalR.js"></script> @*Mora ovo iznad da bi radilo*@