<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   @Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

    @{ 
        var ServerAddress = @Request.Url.Scheme + "://" + @Request.Url.Authority + @Request.ApplicationPath.TrimEnd('/');
    }
   
</head>
<body >
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-image: url(@ServerAddress/Images/scroll.png); background-size: 100% 100%;background-repeat: no-repeat; background-origin: content-box;" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Chat", "Chat", "Home")</li>
                   
                   
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["User"] != null)
                    {
                        @*string user = (string)Session["User"];

                        <li>@Html.ActionLink(@user, "Index", "Home")</li>*@
                        <li>
                            @Html.ActionLink("LogOut", "LogOut", "Login")
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
     @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        @RenderBody()
        <hr />
        <footer>
            <p><strong>&copy; @DateTime.Now.Year - Jocin Meni Hrane</strong></p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
