
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/ScriptForAdmin");
<head>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
</head>

<h2>Index</h2>

<body>
    <div id="navButtons" style="float:left">
        <button class="btn btn-default" id="btnUsers" onclick="ShowUsers()"> Users </button>
        <button class="btn btn-default" id="btnCompetitions" onclick="ShowCompetitions()"> Competitions </button>
        <button class="btn btn-default" id="btnLandmarks" onclick="ShowLandmarks()"> Landmarks </button>
    </div>
    <br />
    <div id="divUsers">
        <table id="tableUsers" class="table inverse table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="divCompetitions">
        <table id="tableCompetitions" class="table inverse table-hover">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Starting date</th>
                    <th>Ending date</th>
                    <th>Type</th>
                    <th>City</th>
                    <th>No of landmarks</th>
                    <th>Change</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="divLandmarks">
        <table id="tableLandmarks" class="table inverse table-hover">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Change</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>

    <div class="modal modal-scroll fade" id="AdminModalDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg"  style="width:55%" role="document">
            <div class="modal-content" style="background-color: #5cb85c">
                <div class="modal-header" id="headerModal"></div>
                <div class="modal-body">
                    <div class="container" id="editDetails">
                        <form id="formCompetition" action=""></form>
                    </div>
                </div>
                <div id="modalEdit" class="modal-footer"></div>
            </div>
        </div>
    </div>

    <div class="modal modal-scroll fade" id="ModalLandmarkDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="background-color: #5cb85c">
                <div class="modal-header" id="headerLandmark"> <h4>Landmark</h4></div>
                <div class="modal-body">
                    <conteiner>
                        <div id="LandmarkDetails" class="col-md-6" style="float:left">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <input type="hidden" id="Landmark_Id" />
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3">Name: </label>
                                <div class="col-md-6" id="Name">
                                    <input type="text" id="Landmark_Name" />
                                </div>
                            </div> <br />
                            <div class="form-group">
                                <label class="col-md-3">City: </label>
                            <div class="col-md-6" id="Name">
                                    <input type="text" id="Landmark_City" />
                                </div>
                            </div> <br />
                        </div>
                        <div id="HintsDetails" class="col-md-6" style="float:right"></div>
                        @*@{
                            for (var i = 0; i < Model.Hints.Count; i++)
                            {
                                <conteiner>
                                    @Html.HiddenFor(model =>model.Hints[i].Id)
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Hints[i].Description)
                                        <div class="col-md-6" id="Name">
                                            @Html.TextBoxFor(model => model.Hints[i].Description)
                                            @Html.ValidationMessageFor(model => model.Hints[i].Description)
                                        </div>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Hints[i].Answer)
                                        <div class="col-md-6" id="Name">
                                            @Html.TextBoxFor(model => model.Hints[i].Answer)
                                            @Html.ValidationMessageFor(model => model.Hints[i].Answer)
                                        </div>
                                    </div>
                                    <br />
                                </conteiner>
                            }
                        }*@
                    </conteiner>
                </div>
                <div id="modalEditLandmark" class="modal-footer">
                    <div class="form-group">
                        <button type="button" value="model.Id" class="btn btn-default" onclick="ChangeLandmark(this)"></button>
                        <button type="button" value="model.Id" class="btn btn-default" onclick="DeleteLandmark(this)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Datatables -->
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>*@
<div id="drawTableUsers">
    <script type="text/javascript">
        $('#divUsers').hide();
        $('#divCompetitions').hide();
        $('#divLandmarks').hide();
        var user = 0;
        var competition = 0;
        var landmark = 0;

        function TableUsers() {
            $('#tableUsers').DataTable({
                "processing": true,
                responsive: true,
                "serverSide": true,
                "dom": "l<'#addUsers'>frtip",
                "aLengthMenu": [[5, 10, 15], [5, 10, 15]],
                "ajax": {
                    "url": '@Url.Action("LoadUsers", "Admin")',
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "Named", "name": "Name", "autoWidth": true },
                    { "data": "Surname", "name": "Surname", "autoWidth": true },
                    { "data": "Username", "name": "Username", "autoWidth": true },
                    { "data": "Email", "name": "E-mail", "autoWidth": true },
                    {
                        'render': function (data, type, row)
                        { return "<button type='button' class='btn btn-success' style='color:white' onclick='DeleteUser(this)'><span class='glyphicon glyphicon-trash'></span> Delete</button>"; }
                    },
                ]
            });
             DrawDropdownUsers();
            if (user == 0) {
                user = 1;
            }
        };

        $('body').on('change', '#selectUserstable', function () {
            var filter = $(this).val();
            $.ajax({
                type: "POST",
                dataType: "json",
                data: { "filter": filter },
                url: '@Url.Action("FilterUsers", "Admin")',
                chache: false,
                success: function (data) {
                    $('#tableUsers').DataTable().ajax.reload().draw();
                }
            });
        });

        //$('#tableUsers tbody').on('click', 'td', function () {

        //    var tr = $(this).closest('tr');
        //    var row = dt.row(tr);

        //    if (row.child.isShown()) {
        //        // This row is already open - close it
        //        row.child.hide();
        //        tr.removeClass('shown');
        //    }
        //    else {
        //        // Open this row
        //        row.child(format(row.data())).show();
        //        tr.addClass('shown');
        //    }
        //});

        function ShowUsers() {
            if (user == 1) {
                $('#divUsers').show();
                $('#divCompetitions').hide();
                $('#divLandmarks').hide();
            }
            else {
                $('#divUsers').show();
                $('#divCompetitions').hide();
                $('#divLandmarks').hide();
                TableUsers();
            }
        };

        function ShowCompetitions() {
            if (competition == 1) {
                $('#divUsers').hide();
                $('#divCompetitions').show();
                $('#divLandmarks').hide();
            }
            else {
                $('#divUsers').hide();
                $('#divCompetitions').show();
                $('#divLandmarks').hide();
                TableCompetitions();
            }
        };

        function ShowLandmarks() {
            if (landmark == 1) {
                $('#divUsers').hide();
                $('#divCompetitions').hide();
                $('#divLandmarks').show();
        }
            else {
                $('#divUsers').hide();
                $('#divCompetitions').hide();
                $('#divLandmarks').show();

            TableLandmarks();
            }
        };

    </script>
</div>

<div id="drawTableCompetitions">
    <script type="text/javascript">
        function TableCompetitions() {
            $('#tableCompetitions').DataTable({
                "processing": true,
                responsive: true,
                "serverSide": true,
                "dom": "l<'#addCompetitions'>frtip",
                "aLengthMenu": [[5, 10, 15], [5, 10, 15]],
                "ajax": {
                    "url": '@Url.Action("LoadCompetitions", "Admin")',
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Id", "name": "Number", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "StartingDate", "name": "Starting date", "autoWidth": true },
                    { "data": "EndingDate", "name": "Ending date", "autoWidth": true },
                    { "data": "Type", "name": "Type", "autoWidth": true },
                    { "data": "City", "name": "City", "autoWidth": true },
                    { "data": "LandmarkCount", "name": "No of landmarks", "autoWidth": true },
                    {
                        'render': function (data, type, row) {
                            return "<button type='button' class='btn btn-success' style='color:white' onclick='ChangeCompetition(this)'><span class='glyphicon glyphicon-edit'></span> Change</button>";
                        }
                    },
                    {
                        'render': function (data, type, row) {
                            return "<button type='button' class='btn btn-success' style='color:white' onclick='DeleteCompetition(this)'><span class='glyphicon glyphicon-trash'></span> Delete</button>"; }
                    },
                ]
            });
            if (competition == 0) {
                competition = 1;
            }
             DrawDropdownCompetitions();
        };

        $('body').on('change', '#selectCompetitionsTable', function () {
             var filter = $(this).val();
             console.log(filter);
            $.ajax({
                type: "POST",
                dataType: "json",
                data: { "filter": filter },
                url: '@Url.Action("FilterCompetitions", "Admin")',
                chache: false,
                success: function (data) {
                    $('#tableCompetitions').DataTable().ajax.reload().draw();
                }
            });
        });
    </script>
</div>

<div id="drawTableLandmarks">
    <script>
         function TableLandmarks() {
            $('#tableLandmarks').DataTable({
                "processing": true,
                responsive: true,
                "serverSide": true,
                "dom": "l<'#addLandmarks'>frtip",
                "aLengthMenu": [[5, 10, 15], [5, 10, 15]],
                "ajax": {
                    "url": '@Url.Action("LoadLandmarks", "Admin")',
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [

                    { "data": "Id", "name": "Number", "autoWidth": true },
                    { "data": "Name", "name": "Name", "autoWidth": true },
                    { "data": "City", "name": "City", "autoWidth": true },
                    {
                        'render': function (data, type, row) {
                            return "<button type='button' class='btn btn-success' style='color:white' onclick='ChangeLandmark(this)'><span class='glyphicon glyphicon-edit'></span> Change</button>";
                        }
                    },
                    {
                        'render': function (data, type, row) {
                            return "<button type='button' class='btn btn-success' style='color:white' onclick='DeleteLandmark(this)'><span class='glyphicon glyphicon-trash'></span> Delete</button>"; }
                    },
                ]
             });
            if (landmark == 0) {
                landmark = 1;
            }
            DrawDropdownLandmarks();
        };

        $('body').on('change', '#selectLandmarksTable', function () {
            var filter = $(this).val();
            $.ajax({
                type: "POST",
                dataType: "json",
                data: { "filter": filter },
                url: '@Url.Action("FilterLandmarks", "Admin")',
                chache: false,
                success: function (data) {
                    $('#tableLandmarks').DataTable().ajax.reload().draw();
                }
            });
        });
    </script>
</div>
